footer{
    background-color: rgb(112, 107, 107);
    /* height: 300px; */
}
footer .p{
    background-color: rgb(165, 160, 160);
   text-align: center;
   padding: 10px;
}
footer .foot{
    display: flex;
    justify-content: space-around;
}