
/* s1 */
.oua{
    display: flex;
    padding: 50px;
}
.ouaga{
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
    height: 480px;
    /* background-image: radial-gradient(black, yellow, gray); */
    /* background-image: radial-gradient(circle, black 30%, */
  /* gray 50%, yellow 20%); */
}
.lo{
    position: relative;
    z-index: 20;
    text-align: center;
    color: #0bdf5c;
    margin-top: 80px;
    font-size: 50px;
    /* margin-left: 0px; */
}
.ouaga p{
    font-size: 25px;
}
.ouaga h3{
    font-size: 25px;
}
.ouaga h1{
    text-align: justify;
    padding: 20px;
    font-size: 30px;
    color: #08fa30;
    /* width: 50%; */
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.img{
    width: 50%;
    height: 380px;
    /* height: 50%; */
}
.img img{
    /* width: 50%; */
    width: 100%;
    height: 502px;
}
.bobo{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    border: 2px solid rgb(170, 167, 151);
}
.bob h1{
    font-size: 30px;
    color: #5951d1;
}
.bob span{
    font-size: 50px;
    color: #e20e0e;
}
.bob h2{
    font-size: 25px;
}
.bob p, .ko p{
    font-size: 20px;
}
.kou{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.ko{
    
    width: 50%;
    padding: 10px;
    background-color: #c7d1c8;
    text-align: center;
}
.ko:hover{
    background: transparent;
}
.ko h1{
    font-size: 35px;
    color: #d151a6;
}
.carousel{
    width: 50%;
}
.carousel img{
    height: 400px;
}

/* foooter# */

/* de lindex */
.leszones{
    display: flex;
    flex-direction: row;
}
.leszonescle1{
    display: flex;
}
    .zonecle2{
        display: flex;
    }
.mesimage{
    
margin: 4px;
padding: 4px;
}
/* formulaire d enregistrement */
.formulaire form{
    margin-left: 200px;
    margin-right: 200px;
    
}

/* espace historique sur le site de Laongo */

                                                
.lango1{
                                                    
    border: 5px solid green;
    background-image: url(photo/LANGO.jpg);
  
    
   }
   .imagelango{
    background-image: url(photo/LANGO.jpg);
    width: 1270px; 
    height: 300px; 
    width: 100%;
    border: 20px green;
    
   }
    .titre-lango{
        text-align: center;
        color: green;
        font-size: 20px;
       bottom: 30;
       background-color: yellow;
    }
   
     .section-un{
        display: flex;
        margin-top: 20px;
        width: 1270px;
        margin-left: 0.5px;
        justify-content: space-around;
        width: 98%;
     } 
     .img1-historiq{
        height: 200px;
     } 
    .historiq{
        font-size: 12px;
       text-shadow:5px ;
    font-weight: bold;
     color: black snow;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-style: inherit;
     background-color: #fd911f;
       
    }
    .section-deux{
   display: flex;
   justify-content: space-around;
   margin-top: 15px;
   
    }
    .eco1{
        background-color: green;
        height: 20px;
        color: wheat;
        width: 80%;
        border-radius: 50px;
        margin-right: 50px;
    }
    .eco2{
        background-color: blue;
        height: 20px;
        width: 40%;
        width: 35%;
        margin-right: 50px;
        border-radius: 50px;
        color: white;
    }

    .titre-section-trois{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 20px;
    }
    .text-section-trois{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        background-color: #5a1616;
        color: white;
    }

    .section-trois{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 90px;
        margin-top: 20px;

    }
    .img-section-trois{
        height: 200px;
        width: 200px;
       border: 12px solid green;
    }




/* section4 */
  .section-quatre-titre{
    text-align: center;
    color:green;
    margin-top: 20px;
  }
.section-quatre-un{
display: flex;
gap: 32px;
justify-content: space-around;
background-color: rgb(158, 218, 158);
}
.img1-section-trois{
height: 200px;
width: 200px;
border-radius: 50px;
scroll-behavior: smooth;
border-bottom: 20px double rgb(154, 160, 149);
}
/* fin sction 4 */
/* fin de la page .historiq */
.propo1{
background-color: #ffd700;
font-size: 80%;
padding: 5%;
height: 30vh;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.propo2{
display: flex;
justify-content: space-around;
padding-left: 100px;
padding-right: 100px;
margin-top: 100px;
}
.propo3{
background-color: aquamarine;
text-align: center;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
}

.Temoignage{
background-image: url(rose.avif);
background-size: cover;

}



.Temoignage .contenu{
display: flex;
margin-top: 40px;
width: 100%;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-direction: row;
}

.Temoignage .contenu .box{
width: 340px;
margin: 20px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 30px;
padding: 40px ;
}
.Video{
margin-left: 20%;
}
.deguster span{
color: #fd911f;
}

.deguster{
color: #111;
font-weight: bold;
font-size: 5em;
text-decoration: none;
text-align: center;
font-style: oblique;
font-size: xx-large;
margin-top: -10%;
}
.Ma{
text-align: center;
font-style: italic;
font-size: x-large;
}

.Temoignage .contenu .box .imbox{
width: 80px;
height: 80px;
border-radius: 50px;
position: relative;
margin-bottom: 20px;
overflow: hidden;
}

.Temoignage .contenu .box .imbox img{
position: relative;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
justify-content: center;
align-items: center;
}

.Temoignage .contenu .box .text{
text-align: center;
color: #666;
font-style: italic;
}

.Temoignage .contenu .box .text h3{
color: #fd911f;
margin-top: 20px;
font-size: 1em;
font-weight: 600;

}
.blanc .titre-text{
color: brown; 
margin-top: 12px;
}
.blanc .titre-text
.blanc p{
color: blue;
}

.contact{
background-image: url(rose.avif);
background-size: cover;
box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
width: 100%;
background-position: unset;
}

.contactform{
padding: 75px 50px;
background: #fff;
box-shadow: 5px 15px 50px rgba(0,0,0,0.8);
max-width: 500px;
margin-top: 50px;
justify-content: center;
align-items: center;
margin-left: 30%;
}
.contactform .inputboite{
position: relative;
width: 100%; 
margin-bottom: 20px;
}


.contactform h3{
color: #111;
font-size: 1.2em;
margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea{
width: 100%; 
border: 1px solid #555;
padding: 10px;
color: #111;
outline: none;
font-size: 16px;
font-weight: 300;
resize: none;
}
.contactform .inputboite input[type="Submit"]{
font-size: 1em;
font-weight: 700; 
color: #fff;
background: #fd911f;
display: inline-block;
cursor: pointer;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
outline: none;
border: none;
transition: 0.5s;
max-width: 120px;
align-items: center;
justify-content: center;
}
.copinright{
padding: 20px 40px;
border-top: 2px solid rgba(0,0,0,0.1);
background: rgba(228,222,228,);
text-align:center ;
}

.copinright p:nth-child(1){
color: #333;
}

.copinright a {
color: #fd911f;
text-decoration: none;
font: weight 600px;
font-style:italic ;
}
.contact .titre-text span{
color: #fd911f;
font-size: 2em;
}
header .sticky{
background: #fff;
padding: 10px 10px;
box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
}

.row{
display: flex;
box-sizing: border-box;
}
.footer{
background: #291010;
display: flex;
padding: 40px 20px;
}
.Service{
display: block;
color: #111; 
margin-left: 50px;
background: #5a1616;
}
.Service p{
color: #111;
justify-content: space-between;
margin-left: 20px;
}  
/* fin de la partie presentation */

/* activite sur le site de laongo */
.generale{
background-color: rgb(223, 212, 91);
}

.first-div-un{
display: flex;
margin-left: 1px;
justify-content: space-around;
}

.first-div-trois{
bottom: 200px;
}


form {
width: 400px;
margin: auto;
top: 75px;
}
input {
padding: 4px 10px;
border: 0;
font-size: 16px;
}
.search {
width: 75%;
}
.submit {
width: 100px;
background-color: #1c87c9;
color: #ffffff;
}
.img1-activite{
width: 600px;
height: 400px;
}
.img2-activite{
width: 600px;
height: 600px;
}

.first-div-un{
background-image: url(photo/1595070_w-3840_h-3840_q-70_m-crop.jpg);
}

.div1_section2_activite{
display: flex;
margin-left: 30px;
justify-content: space-around;
}
.table1{
width: 100%;
height: 30%;
border: 0px;
background-color: #a52a2a;

color: #fff;
}

.table2{
width: 100%;
height: 30%;
border: 0px;
background-color: orangered;
color: #fff;
}
.table3{
width: 100%;
height: 30%;
border: 0px;
background-color:green;
color: #fff;
}
/* section numero  */
.section3{
width: 70%;
}
.div4-form-activite{
padding: 12px;
border-bottom: 2px;
}
.les-input{
width: 100%;
height: 40px;
background-color: indianred;
text-align: center;
margin-left: 20px;
}
.div-nom{
display: flex;
justify-content: space-around;
margin-left: 100px;
}
.div2-nom{
margin-right: 50px;
}
/* section nu,ero3 */
.image-div4-actie{
width: 200px;
height: 200px;
margin-left: 50px;
}
.tex-div-for-activite{
margin-left: 350px;

}
.robo1{
margin-right: 300px;
}
.formulaire{
display: flex;
justify-content: space-around;
text-align: center;
}
/*
fin de la section formulaire imag tex
*/



/* footer */
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
padding: 60px 0;
}

section .section-title {
text-align: center;
color: #007b5e;
margin-bottom: 50px;
text-transform: uppercase;
}
#footer {
background: #007b5e !important;
}
#footer h5{
padding-left: 10px;
border-left: 3px solid #eeeeee;
padding-bottom: 6px;
margin-bottom: 20px;
color:#ffffff;
}
#footer a {
color: #ffffff;
text-decoration: none !important;
background-color: transparent;
-webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
padding-left: 0;
border-left: transparent;
padding-bottom: 0px;
margin-bottom: 10px;
}
}
